<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60">

    <Properties>
        <Property name="log-path">C:\\workspace\\online-shopping\\logs\\order-service</Property>
        <Property name="springAppName">${bundle:application:spring.application.name}</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [${springAppName}] %c{1} - %msg%n"></PatternLayout>
        </Console>
        <RollingFile name="RollingFile-Appender" fileName="${log-path}/${springAppName}.log" filePattern="${log-path}/${springAppName}.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [${springAppName}] %c{1} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com" level="DEBUG" additivity="false">
            <AppenderRef ref="Console-Appender" />
            <AppenderRef ref="RollingFile-Appender" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console-Appender" />
            <AppenderRef ref="RollingFile-Appender"/>
        </Root>
    </Loggers>
</Configuration>